.brand-logo {
    font-family: 'Righteous', cursive; 
}

.text-shadow {
    text-shadow: 2px, 2px, 2px, rgb(255, 255, 255, 0.5);
}

.flashes h4 {
    line-height: 2;
}

nav ul li a{
  color: #00e5ff;
}

.sidenav li a{
  color: #00e5ff;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

body {
 background-image: url("/static/images/background.jpg");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-size: cover;
}

h1 {
    color: #00e5ff;
    text-shadow: 10px, 10px, 10px, rgba(255, 255, 255, 0);
    text-transform: uppercase;
    font-size: 5em;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 3px;
}

footer {
    margin-top: 30px;
    font-family: 'Righteous', cursive; 
}


.row {
    margin-bottom: 0px;
}

.collapsible {
    border: none;
}

.btn-small {
    margin: 4px;
    width: 65px;
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 600;
    font-size: medium;
}

form btn-large {
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 700;
    font-size: medium;
}

.input-field {
    font-family: 'Pathway Gothic One', sans-serif;
}

li {
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

.card-title {
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: medium;
}

li strong {
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}

.error {
    font-family: 'Pathway Gothic One', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
}