.text-shadow {
    text-shadow: 2px, 2px, 2px, rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

nav ul li a{
  color: #ff3d00;
}

.sidenav li a{
  color: #ff3d00;
}

.row {
    margin-bottom: 0px;
}

.btn-small {
    margin: 5px;
    width: 70px;
}