{% extends "base.html" %}
{% block content %}

    <h3 class="center-align deep-orange-text text-accent-3">
        Edit Set
    </h3>

    <div class="row card-panel deep-orange-text text-accent-3 text-shadow blue-grey darken-3">
        <form class="col s12" method="POST" action="{{ url_for('edit_set', set_id=set._id) }}">
            <!-- Name of Set -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-record-vinyl prefix deep-orange-text text-accent-3"></i>
                    <input id="set_name" name="set_name" minlength="1" maxlength="50" 
                        type="text" class="validate" required>
                    <label for="set_name">Set Name</label>
                </div>
            </div>
            <!-- Set Genre -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-compact-disc prefix deep-orange-text text-accent-3"></i>
                    <input id="genre" name="genre" minlength="1" maxlength="50" 
                        type="text" class="validate" required>
                    <label for="genre">Genre</label>
                </div>
            </div>
            <!-- Venue Where Set Was Played -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-warehouse prefix deep-orange-text text-accent-3"></i>
                    <input id="venue" name="venue" minlength="1" maxlength="50" 
                        type="text" class="validate">
                    <label for="venue">Venue</label>
                </div>
            </div>
            <!-- User Upload -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-astronaut prefix deep-orange-text text-accent-3"></i>
                    <input id="uploaded_by" name="uploaded_by" minlength="1" maxlength="50" 
                        type="text" class="validate">
                    <label for="uploaded_by">Uploaded By</label>
                </div>
            </div>
            <!-- Artists Preview Page -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-podcast prefix deep-orange-text text-accent-3"></i>
                    <input id="artists_page" name="artists_page" minlength="1" maxlength="50" 
                        type="text" class="validate">
                    <label for="artists_page">Artist Page <em>(https:// req)</em></label>
                </div>
            </div>
            <!-- Date Set Recorded -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-calendar-alt prefix deep-orange-text text-accent-3"></i>
                    <input id="date" name="date" 
                        type="text" class="datepicker validate" required>
                    <label for="date">Date Recorded/Presented</label>
                </div>
            </div>
            <!-- Submit Set Button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn-large deep-orange accent-3 blue-grey-text text-darken-4 text-shadow center-align">
                        <strong>Edit Set</strong>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}