{% extends "base.html" %}
{% block content %}

    <h1 class="center-align">Log In</h1>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('login') }}">
            <div class="card-panel">
                <div class="row">
                    <!-- Username -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-cog prefix cyan-text lighten-5"></i>
                            <input id="username" name="username" type="text" minlength="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <!-- Password -->
                    <div class="row">
                        <div class="input-field col s12">
                            <i class="fas fa-user-lock prefix cyan-text lighten-5"></i>
                            <input id="password" name="password" type="password" minlength="5"
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <!-- Login -->
                    <div class="row">
                        <button type="submit"
                            class="col s12 btn-large blue-grey darken-3 cyan lighten-5 accent-3">
                            Login <i class="fas fa-sign-in-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <!--Warning link to alert new User's where to register-->
    <div class="row">
        <div class="col s12">
            <p class="center-align cyan-text lighten-5">
                New Here? <a href="{{ url_for('register') }}" class="blue-grey-text darken-3">Register Account</a>
            </p>
        </div>
    </div>

{% endblock %}