{% extends "base.html" %}
{% block content %}

    <ul class="collapsible" data-collapsible="accordion">
        <li>
            {% for set in sets %}
            <div class="collapsible-header deep-orange-text text-accent-3 text-shadow blue-grey darken-3">
                <i class="fas fa-record-vinyl"></i>
                <ul>
                    <li><strong>Set Name:</strong> {{ set.set_name }}</li>
                    <li><strong> Uploaded By:</strong> {{ set.uploaded_by }}</li>
                    <li><strong> Date:</strong> {{ set.date }}</li>
                    <li><strong> Genre:</strong> {{ set.genre }}</li>
                    <li><strong> Venue:</strong> {{ set.venue }}</li>
                    <li><strong> Website:</strong> <a class="deep-orange-text text-accent-3 text-shadow"
                            href="{{ set.artists_page }}" target="_blank">{{ set.artists_page }}</a></li>
                </ul>
            </div>
            {% endfor %}
            <div class="collapsible-body blue-grey darken-1">
                <ul class="collapsible" data-collapsible="accordion">
                    {% for track in tracks %}
                    <li>
                        <div class="collapsible-header deep-orange-text text-accent-3 text-shadow blue-grey darken-2">
                            <i class="fas fa-music"></i>
                            <strong>{{ track.track_name }}</strong>
                        </div>
                        <div class="collapsible-body deep-orange-text text-accent-3">
                            <p>
                                {{ track.set_name }}<br>
                                {{ track.artist }}<br>
                                {{ track.remix }}<br>
                                {{ track.track_name }}<br>
                                {{ track.track_genre }}<br>
                                {{ track.download_link }}<br>
                                {{ track.preview }}<br>
                                {{ track.folder }}<br>
                                {{ track.key }}<br>
                                {{ track.bpm }}<br>
                                {% if track.mixable == "on" %}
                                    Mixable?  <i class="fas fa-thumbs-up"></i>
                                {% elif track.mixable == "off" %}
                                    Mixable?  <i class="fas fa-thumbs-down"></i>
                                {% endif %}
                            </p>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
    </ul>

{% endblock %}