{% extends "base.html" %}
{% block content %}

    {% for track in tracks %}
        {{ track.set_name }}<br>
        {{ track.artist }}<br>
        {{ track.remix }}<br>
        {{ track.track_name }}<br>
        {{ track.track_genre }}<br>
        {{ track.download_link }}<br>
        {{ track.preview }}<br>
        {{ track.folder }}<br>
        {{ track.key }}<br>
        {{ track.bpm }}<br>
        {{ track.mixable }}<br>
    {% endfor %}

    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header deep-orange-text text-accent-3 text-shadow blue-grey darken-3"><i
                    class="fas fa-record-vinyl"></i>First</div>
            <div class="collapsible-body blue-grey darken-1">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header deep-orange-text text-accent-3 text-shadow blue-grey darken-2"><i
                                class="fas fa-music"></i>First</div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header deep-orange-text text-accent-3 text-shadow blue-grey darken-2"><i
                                class="fas fa-music"></i>Second</div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header deep-orange-text text-accent-3 text-shadow blue-grey darken-2"><i
                                class="fas fa-music"></i>Third</div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="collapsible-header deep-orange-text text-accent-3 text-shadow blue-grey darken-3"><i
                    class="fas fa-record-vinyl"></i>Second</div>
            <div class="collapsible-body blue-grey darken-1">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header deep-orange-text text-accent-3 text-shadow blue-grey darken-2"><i
                                class="fas fa-music"></i>First</div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header deep-orange-text text-accent-3 text-shadow blue-grey darken-2"><i
                                class="fas fa-music"></i>Second</div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header deep-orange-text text-accent-3 text-shadow blue-grey darken-2"><i
                                class="fas fa-music"></i>Third</div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <div class="collapsible-header deep-orange-text text-accent-3 text-shadow blue-grey darken-3"><i
                    class="fas fa-record-vinyl"></i>Third</div>
            <div class="collapsible-body blue-grey darken-1">
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header deep-orange-text text-accent-3 text-shadow blue-grey darken-2"><i
                                class="fas fa-music"></i>First</div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header deep-orange-text text-accent-3 text-shadow blue-grey darken-2"><i
                                class="fas fa-music"></i>Second</div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header deep-orange-text text-accent-3 text-shadow blue-grey darken-2"><i
                                class="fas fa-music"></i>Third</div>
                        <div class="collapsible-body">
                            <p>Lorem ipsum dolor sit amet.</p>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

{% endblock %}